body {
  padding-top: 3.5rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
button{
  background-color: blue;
  width: 180px;
  background-color:#4285F4; 
  color:black; 
  border-radius: 15px; 
  font-weight: bold; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}